body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 🔥 GLOBAL SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* Optional: Custom Scrollbar Look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Professional Toastr Overrides */
#toast-container > .toast {
    background-image: none !important;
    border-radius: 12px !important;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5) !important;
    opacity: 1 !important;
    padding: 15px 15px 15px 50px !important;
    width: 350px !important;
}

/* Fix Z-Index so it appears on top of charts */
#toast-container {
    z-index: 999999 !important;
}

.toast-warning {
    background-color: #f59e0b !important; /* Professional Amber */
    color: #ffffff !important;
}

.toast-close-button {
    color: #ffffff !important;
}